<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list list-inset">
        <h3>Hello {{userfullname}}</h3>
          <div class="bar bar-header bar-calm" ng-show="statusMsg">
              <h1 class="title">{{message}}</h1>
          </div>
        <label class="item item-input">
            <input type="text" placeholder="Book Title" ng-model="book_title">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Author Name" ng-model="author">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="ISBN" ng-model="isbn">
        </label>
        
        <button class="button button-assertive icon-left ion-upload" style="margin:10px 0 10px 0" ng-click="newBook(book_title, author, isbn)">Add my Book</button>
        
      <label class="item item-input">
        <input type="text" placeholder="Search.." ng-model="search">
      </label>
    </div>

    <ion-list>
      <h3>Available Books</h3>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="book in books | filter:search" type="item-text-wrap" href="#/dashboard/book-details/{{book.id}}">
        <img ng-src="{{book.image}}">
        <h2>{{book.name}}</h2>
        <p>{{book.author}}</p>
    </ion-list>
  </ion-content>
</ion-view>

