<ion-view view-title="Reset Account">
  <ion-content class="padding tabs-item-hide">
    <h2 class="text-center"><img src="img/logo.png"></h2>
    <div class="list list-inset" ng-hide="showPasswordField">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="email" ng-disabled="SMSAuthSucces">
      </label>
    
        <label class="item item-input" ng-show="SMSAuthSuccess">
            <input type="text" maxlength="5" placeholder="Authorization Code" ng-model="auth">
        </label>
    </div>
      
    <button class="button button-block button-assertive" ng-click="beginRecovery(email)" ng-hide="SMSAuthSuccess">Send Authentication SMS</button>
    <button class="button button-block button-assertive" ng-click="verifyAccount(auth)" ng-show="SMSAuthSuccess" ng-hide="showPasswordField">Reset Account</button>
    <div class="list list-inset" ng-show="showPasswordField">
        <label class="item item-input">
            <input type="password" placeholder="New Password" ng-model="password">
        </label>  
    </div>
    <button class="button button-block button-calm" ng-click="resetPassword(password)" ng-show="showPasswordField">Reset Password</button>
    
  </ion-content>
</ion-view>
