<ion-view view-title="Register">
  <ion-content class="padding tabs-item-hide">
    <h2 class="text-center"><img src="img/logo.png"></h2>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="you@mail.umkc.edu" ng-model="email" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Full Name" ng-model="fullname" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Phone Number" ng-model="phone" required>  
      </label>
      <label class="item item-input">
      <input type="text" placeholder="Interests" ng-model="interests" required> 
      </label>
     
      <label class="item item-input">
        <input type="text" placeholder="Kansas City, MO" ng-model="location" required>  
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="register(email, password, fullname, phone, secret, secret_answer, location, interests)">Signup</button>
      <div class="bar bar-header bar-balanced" ng-show="registrationStatus">
          <h1 class="title">{{message}}</h1>
      </div>
  </ion-content>
</ion-view>
